@model IEnumerable<test.Models.tblProduct>
@{
    ViewBag.Title = "ProductDetail";
}

<table style="border-collapse: collapse; width: 100%;" border="1" id="exampleModal">
    <tbody>
        <tr>
            <td style="width: 30.1136%;"><img src= alt="Image - Wikipedia" width="195" height="146" /></td>
            <td style="width: 69.8864%; text-align: left;">
                <p style="padding-left: 40px;">Beoplay A1</p>
                <p style="padding-left: 40px;">Avaliability: In stock</p>
                <p style="padding-left: 40px;">Vendor: Lighting</p>
                <p style="padding-left: 40px;">SKU: N/A</p>
                <p style="padding-left: 40px;">$39.00</p>
                <p style="padding-left: 40px;">&nbsp;</p>
            </td>
        </tr>
    </tbody>
</table>


<script>
    //function AjaxPost(formdate) {
    //    var ajaxConfig = {
    //        type: "post",
    //        url: "/Product/GetDetails",
    //        data: { productId: $(this).attr("data-type") },
    //        success: function (result) {
    //            $(".modal-body").html(response);
    //            $("#exampleModal").modal('show');
    //        }
    //    }
    //    if ($(formData).attr('enctype') == "mutipart/form-data") {
    //        ajaxConfig["contentType"] = false;
    //        ajaxConfig["processData"] = false;
    //    }
    //    $.ajax(ajaxConfig);
    //    return false;

</script>

